---
http_interactions:
- request:
    method: get
    uri: http://www.google.com/uds/GwebSearch?filter=1&hl=en&key=notsupplied&q=windows&rsz=large&start=0&v=1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      X-Embedded-Status:
      - '200'
    body:
      encoding: ASCII-8BIT
      string: ! '{"responseData": {"results":[{"GsearchResultClass":"GwebSearch","unescapedUrl":"http://windows.microsoft.com/","url":"http://windows.microsoft.com/","visibleUrl":"windows.microsoft.com","cacheUrl":"http://www.google.com/search?q\u003dcache:sYQcH6MypjwJ:windows.microsoft.com","title":"Microsoft
        \u003cb\u003eWindows\u003c/b\u003e","titleNoFormatting":"Microsoft Windows","content":"The
        official website for the Microsoft \u003cb\u003eWindows\u003c/b\u003e operating
        system. Explore   \u003cb\u003eWindows\u003c/b\u003e info, get downloads,
        and find the latest PCs for \u003cb\u003eWindows\u003c/b\u003e."},{"GsearchResultClass":"GwebSearch","unescapedUrl":"http://windows.microsoft.com/en-us/windows7/products/home","url":"http://windows.microsoft.com/en-us/windows7/products/home","visibleUrl":"windows.microsoft.com","cacheUrl":"http://www.google.com/sear[...]
- request:
    method: get
    uri: http://www.google.com/uds/GwebSearch?filter=1&hl=en&key=notsupplied&q=beos&rsz=large&start=0&v=1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      X-Embedded-Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '{"responseData": {"results":[{"GsearchResultClass":"GwebSearch","unescapedUrl":[...]
